# Linux
.gitconfig
.bash_history
.ssh/
.viminfo

# Webspace
logs/
git/
www/
colorgen/
dishpos/

# Synology NAS
\#snapshot/
@eaDir/

# ionicons node
node_modules/@rollup
node_modules/@stencil
node_modules/ionicons/components
node_modules/.bin
node_modules/ionicons/icons
node_modules/package.json