RewriteEngine On

RewriteRule ^\.well-known/security\.txt$ \
  https://www.toklumpp.net/security.txt [R=301,L]

RewriteRule ^\.well-known/openpgpkey(/.*)?$ \
  https://openpgpkey.toklumpp.net/.well-known/openpgpkey/toklumpp.net$1 \
  [R=301,L]

  
RewriteRule ^\.well-known/autoconfig(/.*)?$ \
  https://autoconfig.toklumpp.net$1 \
  [R=301,L]

  RewriteRule ^de/\.well-known/autoconfig(/.*)?$ \
  https://www.toklumpp.net/de/autoconfig$1 \
  [R=301,L]

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

Header always set Strict-Transport-Security "max-age=2592000"
